In [1]:
# importing the necessary libraries

import pandas as pd
from bs4 import BeautifulSoup 
import requests

In [166]:
url = "https://www.amazon.com/gp/bestsellers/books/ref=bsm_nav_pill_print/ref=s9_acss_bw_cg_bsmpill_1c1_w?pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-1&pf_rd_r=JSFR919BB1373W4FETRV&pf_rd_t=101&pf_rd_p=65e3ce24-654c-43fb-a17b-86a554348820&pf_rd_i=16857165011"

# make a request to the web page and gets its HTML
request = requests.get(url)

# store the HTML page in 'soup', a BeautifulSoup object
soup = BeautifulSoup(request.text, 'lxml')

In [167]:
# here we check the status of the request, expecting code 200 if the request is succesful
request

In [168]:
# here we store the book details by selecting the specified class, the class is found by inspecting the book section on the website
amazonBooks = soup.select(".zg-item-immersion")

In [169]:
# here we select all the titles and then we store them in a list

bookTitles = []
for title in amazonBooks:
    # select the third div from authors
    bookTitle = title.select('div')[3].get_text()
    # then strip the '\n' and the four spaces 
    bookTitle= bookTitle.strip('\n')
    bookTitle = bookTitle.strip('            ')
    bookTitle = bookTitle.split('\n')[0]
    bookTitles.append(bookTitle)

In [170]:
# we want to know how many numbers of the books we have scrapped
print(len(bookTitles))

50

In [171]:
# here we select all the authors and then we store them in a list

bookAuthors = []
for author in amazonBooks:
    # select the third div from authors
    bookAuth = author.select('div')[4].get_text()
    # then strip the '\n' and the four spaces 
    bookAuth= bookAuth.strip('\n')
    bookAuth = bookAuth.strip('            ')
    bookAuth = bookAuth.split('\n')[0]
    bookAuthors.append(bookAuth)

In [172]:
print(len(bookAuthors))

50

In [197]:
bookPrices = []
# here we use the soup object created earlier to scrap the prices

prices = soup.find_all(class_="a-link-normal a-text-normal")
for price in prices:
    bookPrice = price.get_text()
    bookPrice = bookPrice.strip('$')
    bookPrices.append(bookPrice)

In [237]:
print(len(bookPrices))

50

In [229]:
ratings = []
bookRates = soup.find_all(class_="a-icon-alt")
for item in bookRates:
    bookRate = item.get_text()
    # on the code below I am just getting the rate, so if the bookRate is '4.5 out of 5' i just return 4.5
    formattedBookRate = bookRate[:3]
    ratings.append(formattedBookRate)

In [230]:
print(len(ratings))

50

In [231]:
# then he we create a pandas dataframe to do some data cleaning

data = {'Title': bookTitles,
        'Author': bookAuthors,
        'Price ($)': bookPrices,
        'Ratings': ratings}
        

books = pd.DataFrame(data)

# then view the first five books
books.head(5)

,Title,Author,Price ($),Ratings
0,Atlas of the Heart: Mapping Meaningful Connect...,Brené Brown,19.48,4.5
1,"Laptop from Hell: Hunter Biden, Big Tech, and ...",Miranda Devine,28.99,4.7
2,Big Shot Diary of a Wimpy Kid Book 16,Jeff Kinney,7.49,4.8
3,"The Real Anthony Fauci: Bill Gates, Big Pharma...",Robert F. Kennedy Jr.,20.88,4.9
4,Cat Kid Comic Club: Perspectives: A Graphic No...,Dav Pilkey,8.62,5.0

In [234]:
# after creating the data frame I want to sort the dataframe based on the ratings

bestSellingBooks= books.sort_values('Ratings', ascending=False)

In [236]:
# so after sorting I am returning the top ten books by just using pandas.head() function
bestSellingBooks.head(10)

,Title,Author,Price ($),Ratings
4,Cat Kid Comic Club: Perspectives: A Graphic No...,Dav Pilkey,8.62,5.0
36,Rush on the Radio: A Tribute from His Sidekick...,James Golden,21.85,5.0
11,Principles for Dealing with the Changing World...,Ray Dalio,24.99,5.0
21,Harry Potter Paperback Box Set (Books 1-7),J. K. Rowling,39.99,4.9
43,Percy Jackson and the Olympians 5 Book Paperba...,Rick Riordan,18.80,4.9
3,"The Real Anthony Fauci: Bill Gates, Big Pharma...",Robert F. Kennedy Jr.,20.88,4.9
44,How the Grinch Stole Christmas! (Classic Seuss),Dr. Seuss,9.90,4.9
17,I Love You to the Moon and Back,Amelia Hepworth,4.28,4.9
46,American Marxism,Mark R. Levin,14.00,4.9
29,The Very Hungry Caterpillar,Eric Carle,5.06,4.9